<% include template/head.ejs%>
  <body>

  <div class="container">
      <% if(userName == null){ %>
      <div id="form_signup" class="form-signup">
          <form class="form-inline" name="adduser" method="post" action="/adduser">
              <div class="form-group">
                  <h2 class="form-signin-heading"><%= __('Please sign up')%></h2>
                  <label for="name" class="sr-only"><%= __('Name')%></label>
                  <input type="text" class="form-control" placeholder= <%= __('Name')%> name= "name" required autofocus>
                  <label for="surname" class="sr-only"><%= __('Surname')%></label>
                  <input type="text" class="form-control" placeholder= <%= __('Surname')%> name= "surname">
                  <label class="sr-only" for="age"><%= __('Age')%></label>
                  <input class="form-control" type="number" placeholder= <%= __('Age')%> name= "age" min="15" max="100" required>
                  <select class="form-control" name="gender" required>
                      <option value="male"><%= __('Male')%></option>
                      <option value="female"><%= __('Female')%></option>
                      <option value="other"><%= __('Other')%></option>
                  </select>
                  <input type="email" class="form-control gravatar" placeholder= <%= __('Gravatar email')%> name= "gravatar">

                  <select  id="music-preferences" name="music"  multiple="multiple">
                      <option value="rock"><%= __('Rock')%></option>
                      <option value="pop"><%= __('Pop')%></option>
                      <option value="jazz"><%= __('Jazz')%></option>
                      <option value="classical"><%= __('Classical')%></option>
                      <option value="heavymetal"><%= __('Heavy Metal')%></option>
                      <option value="techno"><%= __('Techno')%></option>

                  </select>


              </div>


              <button class="btn btn-lg btn-primary btn-block" type="submit"><%= __('Submit form')%></button>
          </form>
      </div>

      <%} else if (userName && spotifySet == null) {%>
      <div class="form-signup-spotify"><img src= <%= gravatar%>></div>
      <div class="form-signup-spotify-blue">
          <div id="login">
              <%= spotifySet%>
              <a href="/spotifylogin" class="btn btn-lg btn-primary "><%= __('Log in with Spotify')%></a>
          </div>
      </div>

      <%}
      else if (userName && spotifySet !== null && lastFmSet == null) { %>
      <div class="form-signup-spotify"><img src= <%= gravatar%>></div>
      <div class="form-signup-spotify-blue">
          <div id="login">
              <a href="/lastfmlogin" class="btn btn-lg btn-primary "><%= __('Log in with LastFM')%></a>
          </div>
      </div>

     <% }
     else { %>
      <div class="form-signup-spotify"><img src= <%= gravatar%>></div>
      <div class="form-signup-spotify"><h2 class="form-signin-heading"><%= __('Thank you <3')%></h2></div>
      <%}
      %>





  </div>
<% include template/footer.ejs%>
